:root {
  font-size: 62.5%;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-family: "Lato", sans-serif;
}

.container {
  z-index: 0;
  position: absolute;
  width: 50%;
  margin: auto;
  padding: 20px;
  height: 25%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
}

#login-error-msg-holder {
  justify-content: center;
  position: absolute;
  z-index: 1;
  width: 25%;
  height: 5%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  font-size: 2rem;
  padding: 2rem;
  visibility: hidden;
}

#login-error-msg {
  padding: 2rem;
}
.btn-close {
  float: right;
  margin: 0;
  padding: 0.5rem;
  background-color: black;
  color: white;
}

#login-header {
  letter-spacing: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  margin: 2rem 0 1rem 0;
}

#login-form {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

#login-form input {
  margin: 1rem 2rem;
  font-size: 2.5rem;
  font-weight: 300;
}

#login-form-submit {
  font-size: 2.4rem;
  text-transform: uppercase;
}
.container-signin {
  text-align: center;
  margin: 1rem 2rem;
}
