:root {
  font-size: 62.5%;
}

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.header {
  display: flex;
}

.title {
  text-align: center;
  margin: 3rem;
  font-size: 3rem;
  text-transform: uppercase;
}

#main-holder {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin: 3rem;
  border: 1px solid black;
  height: 30%;
}

#result {
  text-align: center;
  font-size: 4rem;
  padding-top: 4rem;
  width: 100%;
  background-color: grey;
  height: 25%;
}

#copied {
  display: inline-block;
  padding: 3rem;
}

.button-container {
  padding-top: 3rem;
  flex-direction: column;
}

.button {
  width: 4rem;
  padding: 1rem 3rem;
}
