body {
  display: flex;
  flex-direction: column;
}
.title {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto; Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 5.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
.container {
  display: flex;
  height: 25%;
  flex-direction: row;
}
.button {
  text-decoration: none;
  height: 25px;
  width: 25px;
}

#result {
  max-width: 350px;
  flex-grow: 4;
  font-size: 25px;
  margin: 0;
  border: 2px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
html * {
  background-color: black;
  color: green !important;
  font-family: monospace !important;
}
textarea:focus,
input:focus {
  outline: none;
}
