h1 {
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 25%;
  width: 60%;
  box-shadow: 0.05px 15px 15px 5px #ccc;
  border: 0.5px solid #ccc;
  border-bottom: solid green 15px;
}
.button {
  text-decoration: none;
  flex-grow: 0;
  padding: 33px 25px 0 25px;
  height: 25px;
  width: 25px;
}

#result {
  flex-grow: 4;
  padding: 30px 15px 25px 15px;
  font-size: 25px;
  text-align: center;
  margin: 0;
  border: 2px;
}
html * {
  color: #000 !important;
  font-family: Arial !important;
}
textarea:focus,
input:focus {
  outline: none;
}
